* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Budge-Regular";
    src: url(assets/fonts/Budge/Budge-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Budge-Line";
    src: url(assets/fonts/Budge/Budge-Line.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Budge-Shadow";
    src: url(assets/fonts/Budge/Budge-Shadow.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Pacifico";
    src: url(assets/fonts/Pacifico/Pacifico-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lobster";
    src: url(assets/fonts/Lobster/Lobster-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}


:root {

    /* Fonts */
    --Budge-Regular: "Budge-Regular", sans-serif;
    --Budge-Line: "Budge-Line", sans-serif;
    --Budge-Shadow: "Budge-Shadow", sans-serif;
    --Pacifico: "Pacifico", system-ui;
    --Lobster: "Lobster", system-ui;

    /* Colors */
    --Jet: rgb(61, 61, 61);
    --Light-blue: rgb(207, 232, 242);
    --Alice-blue: rgb(239, 248, 251);
    --Carnation-pink: rgb(255, 153, 190);
    --Royal-purple: rgb(134, 80, 165);
    --Red: rgb(255, 0, 0);

}

html {
    background-color: rgb(190, 141, 116);
}

body {
    background-image: url(assets/svg/wave-2.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container {
    background-image: url(assets/svg/wave-1.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 160px;
}

.header__title {
    height: 69px;
    position: relative;
    font-family: var(--Budge-Shadow);
    font-size: 3.3rem;
    color: var(--Jet);
    top: 55px;
    z-index: 30;
}

.header__title::after {
    content: "Ice Cream Nova";
    position: absolute;
    font-family: var(--Budge-Line);
    color: var(--Carnation-pink);
    top: 0;
    left: 0;
    z-index: 20;
}

.header__title::before {
    content: "Ice Cream Nova";
    position: absolute;
    font-family: var(--Budge-Regular);
    color: var(--Light-blue);
    z-index: 10;
}

.ice-creams {
    display: grid;
    justify-content: center;
    grid-template-areas: "title"
        "navlist"
        "list";
    gap: 10px;
    margin: 15px;
}

.ice-creams__title {
    grid-area: title;
    background-color: var(--Alice-blue);
    font-family: var(--Pacifico);
    font-size: 28px;
    text-align: center;
    color: var(--Carnation-pink);
    padding: 0 10px;
    border-radius: 15px;
    border: 2px solid var(--Carnation-pink);
    box-shadow: 3px 3px 5px var(--Royal-purple);
}

.ice-creams-list {
    grid-area: list;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.ice-creams-list--flex {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.ice-creams-navbar,
.ice-creams-list__item {
    background-color: var(--Alice-blue);
    font-family: var(--Pacifico);
    font-size: 20px;
    color: var(--Carnation-pink);
    padding: 0 25px;
    border-radius: 15px;
    border: 2px solid var(--Carnation-pink);
    box-shadow: 3px 3px 5px var(--Royal-purple);
}

.ice-creams-navbar {
    grid-area: navlist;
    height: 420px;
    padding: 0;
}

.ice-cream-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.ice-cream-input__input {
    width: 70%;
    font-family: var(--Pacifico);
    font-size: 20px;
    background-color: var(--Alice-blue);
    color: var(--Carnation-pink);
    padding: 0px 20px 3px;
    border: 2px solid var(--Carnation-pink);
    border-radius: 15px;
    transition: .3s;
}

.ice-cream-input__input:focus {
    outline: 2px solid var(--Royal-purple);
    box-shadow: 3px 3px 5px var(--Royal-purple);
    transition: .3s;
}

.ice-creams-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    list-style: none;
    padding: 10px;
}

.ice-creams-nav-list__item--size {
    font-size: 18px;
}


.ice-creams-list__item {
    list-style: none;
}

.ice-cream {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ice-cream__img {
    width: 250px;
    margin: 20px 0 10px;
    border-radius: 10px;
    border: 2px solid var(--Carnation-pink);
}

.ice-cream-description {
    width: 260px;
    margin: 10 0px;
}

.ice-cream-description__title {
    font-size: 25px;
    text-align: center;
    line-height: 1.9rem;
}

.ice-cream-description__paragraph {
    width: 260px;
    font-size: 17px;
    line-height: 1.2rem;
    padding: 5px 0 15px;
    text-align: center;
}

.ice-cream-description__paragraph--width {
    width: 265px;
}

.ice-cream__button {
    position: absolute;
    top: 0;
    left: 2%;
    font-family: var(--Pacifico);
    background-color: var(--Alice-blue);
    color: var(--Carnation-pink);
    margin: 10px;
    padding: 3px 20px;
    border: 2px solid var(--Carnation-pink);
    border-radius: 15px;
    transition: .2s;
}

.ice-cream__button:hover {
    box-shadow: 3px 3px 5px var(--Royal-purple);
    transition: .2s;
}

.ice-cream__button--active {
    color: var(--Red);
    border-color: var(--Red);
    box-shadow: 3px 3px 5px var(--Red);
    transition: .2s;
}

.modal-container {
    display: none;
    position: fixed;
    z-index: 40;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    position: relative;
    width: 90%;
    display: block;
    background-color: var(--Alice-blue);
    margin: 0 auto;
    padding: 20px;
    border: 2px solid var(--Carnation-pink);
    border-radius: 30px;
}

.modal__title {
    font-family: var(--Lobster);
    font-size: 26px;
    color: var(--Carnation-pink);
}

.modal__paragraph {
    font-family: var(--Lobster);
    font-size: 18px;
    padding: 10px 0;
    line-height: 1.1rem;
    color: var(--Carnation-pink);
}

.modal__close-button {
    color: var(--Carnation-pink);
    float: right;
    font-family: var(--Lobster);
    padding: 5px 10px;
    background-color: var(--Alice-blue);
    border: 2px solid var(--Carnation-pink);
    border-radius: 10px;
    transition: .4s;
}

.modal__close-button:hover {
    box-shadow: 2px 2px 5px var(--Royal-purple);
    transition: .4s;
}

.mostrar-modal {
    display: flex;
    align-items: center;
}

.mostrar-modal--ice-creams {
    display: block;
}

.modal--margin {
    margin: 20px auto;
    padding: 45px 30px;
}

@media (min-width: 768px) {

    .header__title {
        font-size: 5rem;
        top: 40px;
    }

    .ice-creams {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "title title"
            "navlist navlist"
            "list list";
    }

    .ice-creams-navbar {
        height: 430px;
    }

    .ice-creams-nav-list__item--size {
        font-size: 22px;
    }


    .ice-creams-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .modal {
        width: 50%;
    }

}

@media (min-width: 1000px) {

    .header__title {
        font-size: 5.8rem;
        top: 25px;
    }

    .ice-creams {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "title title title"
            "navlist navlist navlist"
            "list list list";
    }

    .ice-creams-nav-list__item--size {
        font-size: 22px;
    }


    .ice-creams-list {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (min-width: 1320px) {

    .header__title {
        font-size: 6.2rem;
        top: 25px;
    }


    .ice-creams {
        grid-template-columns: 338px repeat(3, 1fr);
        grid-template-areas: "title title title title"
            "navlist list list list"
            "navlist list list list";
        margin: 20px;
    }

    .ice-creams-navbar {
        height: 420px;
    }

    .ice-creams-nav-list__item--size {
        font-size: 18px;
    }


    .ice-creams-list {
        grid-template-columns: repeat(3, 1fr);
    }

}